@model Task<GECP.Models.Pages.GalleryPageModel>

@{
    ViewBag.Title = "Gallery";
}
<div class="page_title3">
    <div class="container">

        <h1>
            Gallery<em>Government Engineering College</em>

        </h1>
        <div class="line"></div>
    </div>
</div>
<div class="margin_top2"></div>

<div class="works01">
    <div class="container">

        <div id="filters-container" class="cbp-l-filters-button">

            @*<div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                    All
                    <div class="cbp-filter-counter"></div>
                </div>*@

            @foreach (var item in Model.Result.CategoryModels)
            {
                <div data-filter=.@item.categoryClass class="cbp-filter-item">
                    @item.category
                    <div class="cbp-filter-counter"></div>
                </div>
            }

        </div>


        <div id="grid-container" class="cbp-l-grid-fullWidth">

            @foreach (var item in Model.Result.GalleryModels)
            {
                <div class="cbp-item @item.categoryClass logos">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src=@item.image alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <h4>@item.title</h4>
                                    <a href=@item.image class="cbp-lightbox cbp-l-caption-buttonRight" data-title=@item.title>view larger</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>

    </div>
</div>
<!-- end works section -->

<div class="clearfix margin_top2"></div>
<a href="#" class="scrollup">Scroll</a>
<!-- end scroll to top of the page-->
<!-- ######### JS FILES ######### -->

@section scripts{

    <script type="text/javascript" src="~/js/cubeportfolio/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="~/js/cubeportfolio/main.js"></script>

}