<div class="site_wrapper">

    <div class="top_section2">
        <div class="container">


            <div class="left">

                <!-- Logo -->
                <div>
                    <a href="index.html" id="logo"></a>
                </div>

            </div>
            <!-- end left -->

            <div class="right">

                <ul class="tinfo last">
                    <li><i class="fa fa-phone"></i></li>
                    <li>
                        <em>Call Us</em>
                        <strong>+1 123-456-789000</strong>
                    </li>

                </ul>

                <ul class="tinfo">
                    <li><i class="fa fa-envelope"></i></li>
                    <li>
                        <em>Mail Us</em>
                        <strong><a href="mailto:info@websitename.com">info@websitename.com</a></strong>
                    </li>
                </ul>

            </div>
            <!-- end right -->

        </div>
    </div>
    <!-- end top navigation links -->

</div>
<div class="clearfix"></div>


<header class="header">

    <div class="container">

        <!-- Navigation Menu -->
        <div class="menu_main_full2">

            <div class="navbar yamm navbar-default">

                <div class="navbar-header">
                    <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span>Menu</span>
                        <button type="button"> <i class="fa fa-bars"></i></button>
                    </div>
                </div>

                <div id="navbar-collapse-1" class="navbar-collapse collapse">
                    <nav>

                        <ul class="nav navbar-nav">

                            <li class="dropdown yamm-fw">
                                <a asp-action="Index" class="dropdown-toggle active">Home</a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Institute</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/Home/About">About Us</a></li>
                                    <li><a href="/Home/Coe">Center Of Excellense</a></li>
                                    <li><a href="/Home/Newsletter">Newsletter</a></li>
                                    <li><a href="/Home/Rti">RTI</a></li>



                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Academics</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="calender.html">Academic Calender</a></li>

                                    <li><a href="/Home/Admissionprocess">Admission Process</a></li>
                                    <li><a href="/Home/Achievements">Achievements</a></li>



                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Departments</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/Department/Ec">Electronics And Communication</a></li>
                                    <li><a href="/Department/Computer">Computer</a></li>
                                    <li><a href="/Department/Electrical">Electrical</a></li>
                                    <li><a href="/Department/Civil">Civil</a></li>
                                    <li><a href="/Department/Mechanical">Mechanical</a></li>
                                    <li><a href="/Department/Library">Library</a></li>
                                    <li><a href="/Department/General">Administrative Block</a></li>
                                    <li><a href="/Department/Teqip">TEQIP</a></li>



                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Faculty</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/Faculty/Ec">Electronics And Communication Faculties</a></li>
                                    <li><a href="/Faculty/Computer">Computer Faculties</a></li>
                                    <li><a href="/Faculty/Electrical">Electrical Faculties</a></li>
                                    <li><a href="/Faculty/Civil">Civil Faculties</a></li>
                                    <li><a href="/Faculty/Mechanical">Mechanical Faculties</a></li>
                                    <li><a href="/Faculty/Library">Library Faculties</a></li>
                                    <li><a href="/Faculty/General">Administrative Block Faculties</a></li>
                                    <li><a href="/Faculty/Teqip">TEQIP Faculties</a></li>



                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Campus Committees</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/Committees/WomenCell">Women Cell</a></li>
                                    <li><a href="/Committees/SsipCell">SSIP Cell</a></li>
                                    <li><a href="/Committees/NssCell">National Service Scheme(NSS)</a></li>
                                    <li><a href="/Committees/AntiRaggingCell">Anti Ragging Cell</a></li>
                                    <li><a href="/Committees/GrievenceCell">Grievence Cell</a></li>
                                    <li><a href="/Committees/PlacementCell">Placement Cell</a></li>




                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">Campus Life</a>
                                <ul class="dropdown-menu" role="menu">

                                    <li><a href="/CampusLife/Gallery">Gallery</a></li>
                                    <li><a href="/CampusLife/Canteen">Canteen</a></li>
                                    <li><a href="/CampusLife/CampusMap">Campus Map</a></li>





                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="/Home/ContactUs" class="dropdown-toggle">Contact</a>

                            </li>




                        </ul>

                    </nav>


                </div>
            </div>


        </div>

    </div>

    <!-- end Navigation Menu -->



</header>



