@model Task<GECP.Models.Pages.FacultyPageModel>
@{
    ViewBag.Title = "Computer Faculties";
}
<div class="page_title3">
    <div class="container">

        <h1>
            Meet Our Team<em>Government Engineering College</em>

        </h1>
        <div class="line"></div>
    </div>
</div>

<div class="margin_top2"></div>
<div class="featured_section30">
    <div class="container">

        @*@foreach (var item in Model.Result.FacultyDetailsModels)
            {
                <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="200">

                    <img src=@item.profileImage alt="" />
                    <h5>@item.name <em>@item.designation</em></h5>
                    <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
                    <br />
                    <a href="faculty_tab.html" class="but_calendar four">Read More</a>

                </div>

            }*@


        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="200">

            <img src="~/images/peop-img21.jpg" alt="" />
            <h5>Haresh Jethwa <em>Head of Department</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>

        </div>
        end section
        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="300">

            <img src="~/images/peop-img22.jpg" alt="" />
            <h5>Dr. SANJAYKUMAR PATEL <em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>

        </div>
        end section
        <div class="clearfix margin_top5"></div>

        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="400">

            <img src="~/images/peop-img23.jpg" alt="" />
            <h5>Shradhha Modi <em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>
        </div>
        end section
        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="500">

            <img src="~/images/peop-img24.jpg" alt="" />
            <h5>Mr. SUNILKUMAR PATEL<em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>
        </div>
        end section
        <div class="clearfix margin_top5"></div>
        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="200">

            <img src="~/images/peop-img21.jpg" alt="" />
            <h5>Haresh Jethwa <em>Head of Department</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>

        </div>
        end section
        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="300">

            <img src="~/images/peop-img22.jpg" alt="" />
            <h5>Dr. SANJAYKUMAR PATEL <em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>

        </div>
        end section
        <div class="clearfix margin_top5"></div>

        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="400">

            <img src="~/images/peop-img23.jpg" alt="" />
            <h5>Shradhha Modi <em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>
        </div>
        end section
        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="500">

            <img src="~/images/peop-img24.jpg" alt="" />
            <h5>Mr. SUNILKUMAR PATEL<em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>
        </div>
        end section
        <div class="clearfix margin_top5"></div>
        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="200">

            <img src="~/images/peop-img21.jpg" alt="" />
            <h5>Haresh Jethwa <em>Head of Department</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>

        </div>
        end section
        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="300">

            <img src="~/images/peop-img22.jpg" alt="" />
            <h5>Dr. SANJAYKUMAR PATEL <em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>

        </div>
        end section
        <div class="clearfix margin_top5"></div>

        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="400">

            <img src="~/images/peop-img23.jpg" alt="" />
            <h5>Shradhha Modi <em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>
        </div>
        end section
        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="500">

            <img src="~/images/peop-img24.jpg" alt="" />
            <h5>Mr. SUNILKUMAR PATEL<em>Assistant Professor</em></h5>
            <p>Qualification:PhD.<br> Experience : 18 Years<br> Area Of Interest : Machine Learning </p>
            <br />
            <a href="faculty_tab.html" class="but_calendar four">Read More</a>
        </div>
        end section



    </div>
</div>
<!-- end featured section 30 -->


<div class="clearfix margin_top2"></div>
<a href="#" class="scrollup">Scroll</a>
<!-- end scroll to top of the page-->
